# version: "3"

# official repo URL=https://github.com/IrineSistiana/mosdns
# official docs URL=https://irine-sistiana.gitbook.io/mosdns-wiki
services:
  mosdns:
    container_name: mosdns
    image: irinesistiana/mosdns:v5.3.1
    pull_policy: always
    healthcheck:
      # test: ["CMD", "nslookup", "-port=5553", "qq.com", "localhost", "2>&1", ">/dev/null"]
      test: ["CMD-SHELL", "nslookup -port=5553 qq.com localhost 2>&1 >/dev/null"]
      start_period: 35s
      start_interval: 1s
      timeout: 5s
      retries: 24
    logging:
      options:
        max-size: "10m"
    volumes:
      - /media/justsave/docker/volume/mosdns:/etc/mosdns:rw
      # nginx ssl cert
      - /media/justsave/docker/volume/nginx/ssl:/etc/nginx/ssl:ro
      # 共享host的时间环境
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # # 共享host的可信SSL证书环境
      # - /etc/ssl:/etc/ssl:ro
      # - /usr/share/ca-certificates:/usr/share/ca-certificates:ro
    # ports:
    #   - "5553:5553"
    #   - "5553:5553/udp"
    restart: always
