# version: "3.4"

# official repo URL=https://github.com/m1k1o/neko
# official docs URL=https://neko.m1k1o.net/#/getting-started/configuration
services:
  neko:
    env_file:
      - path: /media/justsave/docker/compose/global_default.env
        required: true
      - path: ./default.env
        required: true # default
      - path: /media/justsave/docker/env/neko/docker.env
        required: false
    image: "m1k1o/neko:chromium"
    # image: "ghcr.io/m1k1o/neko/arm-chromium:latest"
    container_name: neko
    pull_policy: always
    privileged: true
    restart: "unless-stopped"
