# version: "3"

# official repo URL=https://github.com/XTLS/Xray-core
# official docs URL=https://xtls.github.io/
services:
  xray:
    env_file:
      - path: /media/justsave/docker/compose/global_default.env
        required: true
    container_name: xray
    image: teddysun/xray:latest
    pull_policy: always
    hostname: xray
    volumes:
      - /media/justsave/docker/volume/xray/config/config.json:/etc/xray/config.json:ro
      - /media/justsave/docker/volume/xray/log:/var/log/xray:rw
      - /media/justsave/docker/volume/xray/bin:/usr/share/xray:ro
    cap_add:
      - NET_ADMIN
    restart: always
