/.idea
/.vscode
/volume/*
/env
**/docker-compose.yml
**/*.bak
/compose/global_default.env

!/volume/nginx/
/volume/nginx/*
!/volume/nginx/snippets/
/volume/nginx/snippets/private/
!/volume/nginx/nginx.example.conf
!/volume/nginx/conf.d/
/volume/nginx/conf.d/*
!/volume/nginx/conf.d/default.conf

!/compose/standalone/gitea/clash/
/compose/standalone/gitea/clash/*
!/compose/standalone/gitea/clash/config.yaml
