/.idea
/volume/*
/env
**/docker-compose.yml
**/*.bak

!/volume/nginx/
/volume/nginx/*
!/volume/nginx/snippets/
/volume/nginx/snippets/private/
!/volume/nginx/nginx.example.conf
!/volume/nginx/conf.d/
/volume/nginx/conf.d/*
!/volume/nginx/conf.d/my_default.conf

!/compose/standalone/busybox_test/docker-compose.yml
!/compose/standalone/clash/docker-compose.yml
!/compose/standalone/ddns_go/docker-compose.yml
!/compose/standalone/debian_test/docker-compose.yml
!/compose/standalone/debian4build/docker-compose.yml
!/compose/standalone/gitea/docker-compose.yml
!/compose/standalone/glances/docker-compose.yml
!/compose/standalone/hertzbeat/docker-compose.yml
!/compose/standalone/jenkins/docker-compose.yml
!/compose/standalone/mariadb/docker-compose.yml
!/compose/standalone/mosdns/docker-compose.yml
!/compose/standalone/nginx/docker-compose.yml
!/compose/standalone/php_fpm/docker-compose.yml
!/compose/standalone/phpmyadmin/docker-compose.yml
!/compose/standalone/portainer/docker-compose.yml
!/compose/standalone/redroid/docker-compose.yml
!/compose/standalone/ttyd/docker-compose.yml
!/compose/standalone/ubuntu_test/docker-compose.yml
!/compose/standalone/wg_easy/docker-compose.yml
!/compose/standalone/wgcf/docker-compose.yml
!/compose/standalone/xfl_cv_javaweb/docker-compose.yml
!/compose/standalone/xray/docker-compose.yml
