networks:
  gitea-docker-bridge:
    name: "gitea-docker-bridge"
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "172.20.4.0/24"
          gateway: "172.20.4.100"
          ip_range: "172.20.4.0/24"
        - subnet: "fd00:dcdc:4::/64"
    driver_opts:
      com.docker.network.bridge.name: "br-gitea0"
