# version: "3"

# docker image source code repo URL=https://github.com/yrzr/gitlab-ce-arm64v8-docker
services:
  gitlab:
    extends:
      file: ./docker-compose.arm64.morefree.example.yml
      service: gitlab
    logging:
      options:
        max-size: "4m"
    ports:
      - "127.0.0.1:28013:80"
      # - "443:443"
      - "2424:22"
