# version: "3.8"

# official repo URL=https://github.com/HeyPuter/puter
services:
  puter:
    env_file:
      - path: /media/justsave/docker/compose/global_default.env
        required: true
      - path: ./default.env
        required: true # default
      - path: /media/justsave/docker/env/puter/docker.env
        required: false
    container_name: puter
    # image: ghcr.io/heyputer/puter:latest
    image: ghcr.io/heyputer/puter:sha-ec31007
    pull_policy: always
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://puter.local:4100/test || exit 1
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 30s
    volumes:
      - /media/justsave/docker/volume/puter/config:/etc/puter
      - /media/justsave/docker/volume/puter/data:/var/puter
    restart: unless-stopped
